/* SIDEBAR */
.ant-layout-sider-light {
    min-width: 270px !important;
    min-height: 730px !important;
}
.ant-layout-sider {
    max-width: 300px !important;
    width: 300px !important;
}
.ant-layout-sider-trigger {
    min-width: 270px !important;
}
.ant-message .anticon {
    top: -3px !important;
}
/* .ant-menu-inline .ant-menu-item::after {
    border-right: 3px solid #3A8919 !important;
}
.ant-menu-item-selected {
    color: #3A8919 !important;
}
.ant-menu-title-content:hover {
    color: #3A8919 !important;
} */

/* MESSAGE */
.ant-message-notice-content {
    border-radius: 5px !important;
}
